*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


html{
    font-size: 62.5%;
}
h1{
    text-align: center;
    padding: 30px;
    background-color: #2f82f7;
    
}

body{
    background-color: #6b6767;
}
p {
    color: #ffffff;
    padding: 13px;
    font-size: 1.3rem;}

    p.first {
        background-color: #357aaf;
     
      }
      
      p.second {
        background-color: #3686b9;        
      }
      
      p.third {
        background-color: #3293c3;        
      }
      
      p.fourth {
        background-color: #469fcb;        
      }
      
      p.fifth {
        background-color: #5fadd2;        
      }
      
      p.six {
        background-color: #75bada;        
      }
      
      p.seven {
        background-color: #8dc4df;        
      }
      
      p.eight {
        background-color: #23ab7e;     
      }
      
      p.nine {
        background-color: #e7abc1;        
      }
      
      p.ten {
        background-color: #e799b5;        
      }
      p.eleven {
        background-color: #e587a7;
      }
      
      p.twelve {
        background-color: #e2749a;    
      }
      
      p.thirteen {
        background-color: #e0658a;      
      }
      
      p.fourteen {
        background-color: #db5580;     
      }
      
      p.fifthteen {
        background-color: #da3d75;        
      }